@charset "utf-8";
/* CSS Document */


/* ХВАТИТ СТАВИТЬ ПИКСЕЛИ В БОРДЕРАХ И ШАДОУ!!!!!!!!!!!!!!!!!! */


body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: auto;
	/* background: url(../img/raids/vault-of-the-incarnates/vault-bg-header.png) top
		no-repeat;
	background-size: 94%; */
	background-color: #090e0e;
}

h1 {
	color: #9d9063;
	font-size: 2.1vw;
	font-family: MontserratSemiBold, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	/* padding-top: 0.5vw;
	padding-bottom: 0.5vw; */
	padding: 0;
	margin: 0;
}

h2 {
	color: #9d9063;
	font-size: 1vw;
	font-family: MontserratSemiBold, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	padding: 0 0 0 1vw;
	margin: 0;
}

h3 {
	color: #9d9063;
	font-size: 1vw;
	font-family: MontserratBold, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #00ff99;
}

p {
	color: #9d9063;
	font-family: Montserrat, sans-serif;
	font-size: 0.7vw;
	line-height: 1.2vw;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

li {
	color: #9d9063;
	font-family: Montserrat, sans-serif;
	font-size: 0.7vw;
	line-height: 1.2vw;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

code {
	font-family: Montserrat, sans-serif;
	font-size: 0.7vw;
	line-height: 1.2vw;
}

.format-code {
	background-color: #071515;
	border: #9d9063 outset 0.1vw;
	padding: 0.5vw;
	color: #9d9063;
	font-weight: 500;
	font-size: 0.7vw;
	margin: 0.5vw 0 0.5vw 0;
}

/* ХЭДЕР НАЧАЛО*/
#header {
	/* background: url("../img/headerempty.png") fixed no-repeat;
	height: 3.6vw;
	width: auto;
	position: sticky;
	z-index: 90;
	top: 0;
	background-size: contain; */

	display: none;
}

#header-mob {
	display: none;
}

.popup {
	display: none;
}

.BMbrush {
	position: absolute;
	z-index: 50;
	margin-top: 0.4%;
	width: 7.8vw;
}

.WWbrush {
	position: absolute;
	z-index: 50;
	margin-top: 0.3%;
	margin-left: 5.5%;
	/* width: 13vw; */
	width: 13vw;
	/* height: 2.5vw; */
	display: none;
}

.MWbrush {
	position: absolute;
	z-index: 50;
	margin-top: 0.3%;
	margin-left: 17.7%;
	width: 8.5vw;
	display: none;
}

.Supportbrush {
	position: absolute;
	z-index: 50;
	margin-top: 0.45%;
	margin-left: 25.3%;
	width: 10.5vw;
	display: none;
}

.BM,
.WW,
.MW,
.Support {
	position: relative;
	z-index: 90;
}

.logo {
	/*логотип в хэдере*/
	float: left;
	margin-left: 14.8%;
	/* margin-left: 384px; */
	height: 4.5vw;
	width: 4.8vw;
}

.header-right {
	/*мейн меню хэдера*/
	float: right;
	margin-right: 15%;
}

.header-right a {
	/*настройки ссылок в мейн меню хэдера*/
	float: left;
	font-family: MontserratBold, sans-serif;
	color: #9d9063;
	font-size: 0.8vw;
	line-height: 55%;
	text-align: center;
	padding: 0.7vw 0 0.7vw 1vw;
	text-decoration: none;
	margin-top: 0.6vw;
}

.header-right a:hover {
	color: #00ff99; /*цвет мейн меню хэдера при наведении*/
}

/* ХЭДЕР ЗАКОНЧИЛСЯ */

/* ГОРЫ БЭКГРАУНД */
#headerContainer {
	width: 100%;
	overflow: hidden;
}

#header-bg {
	/* background: url("../img/headermain.png") center no-repeat;

	background-size: 100%;
	width: 120%;
	right: 6.5vw;
	height: auto;
	position: relative;
	top: 0;
	border-bottom: solid 1px #9d9063;
	margin-top: 0;
	overflow: auto;
	padding-bottom: 7.2vw;
	padding-top: 0.5vw; */

	/* background: url("../img/headermain.png");
	background-size: 120%;
	background-position-x: -8vw;
	width: 104%;
	right: 3.7vw;
	height: auto;
	position: relative;
	top: 0;
	border-bottom: solid 0.1vw #9d9063;
	margin-top: 0;
	overflow: auto;
	padding-bottom: 7vw;
	margin-bottom: 0.6%; */

	background: url("../img/headermain.png");
	background-size: 100%;
	width: 104%;
	right: 3.7vw;
	height: auto;
	position: relative;
	top: 0;
	border-bottom: solid 0.1vw #9d9063;
	margin-top: 0;
	overflow: auto;
	padding-bottom: 5.3%;
	margin-bottom: 0.6%;

}

#templefd {
	/* color: #9d9063;
	text-align: center;
	text-decoration: none;
	font-size: 1.7vw;
	margin: 3vw 6.5vw 1vw 0vw;
	line-height: 0.1; */

	color: #9d9063;
	text-align: center;
	text-decoration: none;
	/* font-size: 1.7vw; */
	font-family: MontserratMedium, sans-serif;
	margin-right: 3%;
	margin-top: 3vw;
	margin-bottom: 1.2vw;
	/* letter-spacing: 30%; */
	/* margin-left: 30%;
	margin-right: 30%; */
	line-height: 0.1;
}

/* ГОРЫ БЭКГРАУНД */

.header-right-bg {
	/* overflow: auto;
	align-content: center;
	margin-right: 48%;
	margin-left: 42%; */

	overflow: auto;
	align-content: center;
	margin-right: 45%;
	margin-left: 45%;
}

.discord {
	width: 50%;
	float: left;
	margin-top: 1.5%;
	bottom: 0;
	position: relative;
	padding-top: 2%;
}

.boosty {
	width: 40%;
	float: right;
	bottom: 0;
	position: relative;
	padding-top: 2%;
}

/* ГОРЫ БЭКГРАУНД */

.container {
	margin: 0.5vw 15% 3vw 15%;
	background-color: #111a1a;
	/* margin-bottom: 10%; */
	display: flex;
	border: #9d9063 solid 0.1vw;
	box-shadow: 0.31vw 0 0.78vw 0.1vw rgba(0, 0, 0, 0.6);
}

#containerMain {
	width: 79.9%;
	background-color: #111a1a;
	color: #9d9063;
	font-family: Montserrat, sans-serif;
	border-right: #9d9063 solid 0.1vw;

	/* border: 1px solid transparent;
	border-image: linear-gradient(
		to left top,
		#9d9063 80%,
		transparent 90%,
		#9d9063 80%,
		transparent 90%
	);
	border-image-slice: 1; */

	/* border: 1px solid transparent;
	border-image: linear-gradient(
		to left top,
		#9d9063 10%,
		transparent 30%,
		transparent 70%,
		#9d9063 90%
	);
	border-image-slice: 1; */

	float: left;
	align-content: center;
	overflow: visible;
	box-shadow: 0.31vw 0 0.78vw 0.1vw rgba(0, 0, 0, 0.6);
	position: relative;
	z-index: 5;
	height: auto;
}

.frame-red-mob {
	display: none;
}

.frame-red-accord-bm,
.frame-red-accord-mw,
.frame-red-accord-ww {
	display: none;
}

.panelBMstream,
.panelMWstream,
.panelWWstream {
	display: none;
}

.containerH {
	background-color: #112626;
	overflow: auto;
	border-bottom: solid 0.1vw #9d9063;
}

.containerH h2 {
	margin: 0;
	padding-left: 0.5vw;
	line-height: 2vw;
}

.Slide1 {
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	bottom: 0;
	position: relative;
	overflow: auto;
	box-shadow: 0 0.33vw 0.78vw 0.1vw rgba(0, 0, 0, 0.6);
	z-index: 2;
}

.SlideMobBM,
.SlideMobMW,
.SlideMobWW {
	display: none;
}

.panelBM,
.panelMW,
.panelWW {
	display: none;
}

.dropdownMenu,
.dropdownMenuII,
.dropdownMenuIII {
	position: absolute;
	background-color: #111a1a;
	border: solid 0.1vw #9d9063;
	z-index: 3;
	display: none;
	margin-top: 20.8%;
	/* margin-top: 28.1%; */
	/* margin-left: 6%; */
	box-shadow: 0 0 0.78vw 0.1vw rgba(0, 0, 0, 0.6),
	0 0 0.78vw 0.1vw rgba(0, 0, 0, 0.6);
	padding-right: 0.5%;
	color: #9d9063;
	font-family: MontserratMedium, sans-serif;
	/* font-size: 0.65vw; */
	font-size: 0.65vw;
	padding-left: 0.5%;
	line-height: 0.7vw;
	/* line-height: 0.7vw; */
}

.dropdownMenu1,
.dropdownMenuII1,
.dropdownMenuIII1 {
	margin-left: 10%;
	display: none;
}

.dropdownMenu2,
.dropdownMenuII2,
.dropdownMenuIII2 {
	margin-left: 18.2%;
	display: none;
}

.dropdownMenu3,
.dropdownMenuII3,
.dropdownMenuIII3 {
	margin-left: 29.25%;
	display: none;
}

.dropdownMenu4,
.dropdownMenuII4,
.dropdownMenuIII4 {
	margin-left: 37.1%;
	display: none;
}

.dropdownMenu5,
.dropdownMenuII5,
.dropdownMenuIII5 {
	margin-left: 47.3%;
	display: none;
}

.dropdownMenu6,
.dropdownMenuII6,
.dropdownMenuIII6 {
	margin-left: 61.05%;
	display: none;
}

.dropdownMenu7,
.dropdownMenuII7,
.dropdownMenuIII7 {
	margin-left: 71.8%;
	display: none;
}

.dropdownMenuContainer,
.dropdownMenuContainerII,
.dropdownMenuContainerIII {
	position: absolute;
	/* border:#00FF98 solid 0.01vw; */
	/* height: 3.5vw;
	width: 9vw; */
	z-index: 10;
	margin-top: 19.7%;
	margin-left: 0;
	display: none;
	/* border: #00FF98 solid 1px; */
}

.redContainerMenu {
	background: url("../img/frame.png") no-repeat;
	background-size: 100%;
	height: 2.03vw;
	width: 98%;
	overflow: auto;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: -0.4%;
	z-index: 1;
	text-align: center;
	font-size: 0.6vw;
	color: #9d9063;
	font-family: MontserratBold, sans-serif;
	text-decoration: none;
}

.divider {
	width: 98%;
	margin: 1.5% 1% 0.5%;
}

.dividerMob {
	width: 98%;
	margin: 1.5% 1% 0.5% 2%;
	display: none;
}

.fa {
	margin-left: 0.3%;
}

.containerLinks {
	margin-top: 1.3%;
	position: relative;
	z-index: 1;
	overflow: auto;
}

.containerLinks a {
	color: #9d9063;
	font-size: 0.6vw;
	/* font-family: MontserratBold; */
	text-decoration: none;
	margin-right: 0.4%;
	margin-left: 0.2%;
}

.containerLinks a:hover {
	cursor: pointer;
	color: #00ff98;
}

.textBottom {
	font-size: 0.57vw;
	font-family: MontserratItalic, sans-serif;
	text-align: center;
	line-height: 0.5;
	overflow: auto;
	margin-bottom: 1.1%;
}

#containerRed {
	background: url(../img/backgroundred.png) 100% 0 repeat;
	background-size: 300%;
	align-content: center;
	font-size: 0.7vw;
	color: #9d9063;
	font-family: Montserrat, sans-serif;
	height: auto;
	float: right;
	width: 20%;
}

.containerHRed {
	background-color: #112626;
	overflow: auto;
	/* padding-left: 5%; */
	text-align: center;
	border-bottom: solid 0.1vw #9d9063;
}

.containerHRed h2 {
	margin: 0;
	padding: 0;
	line-height: 2vw;
}

#supportContainer {
	background-color: rgba(17, 26, 26, 0.7);
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: solid 0.1vw #9d9063;
}

#textRed {
	margin-left: 40%;
	margin-right: 40%;
}

.support {
	width: 100%;
	position: relative;
	bottom: 0;
}

#twitchStream1,
#twitchStream2,
#twitchStream3,
#twitchStream4,
#twitchStream5,
#twitchStream6,
#twitchStream7,
#twitchStream8,
#twitchStream9,
#twitchStream10 {
	display: none;
	overflow: visible;
	position: relative;
	z-index: 1;
	width: 94%;
	height: 7.3vw;

	/* border: #9d9063 solid 1px; */
	margin: 3% 3% 0 3%;
	/* margin-top: 1%; */
	/* padding: 0.1%; */
	/* box-shadow: 6px 0px 15px 2px rgba(0, 0, 0, 0.6); */
	box-shadow: 0.31vw 0 0.78vw 0.1vw rgba(0, 0, 0, 0.6);
	border: 0.1vw solid transparent;
	border-image: linear-gradient(
		to left top,
		#9d9063 10%,
		transparent 30%,
		transparent 70%,
		#9d9063 90%
	);
	border-image-slice: 1;
}

#streamsName1,
#streamsName2,
#streamsName3,
#streamsName4,
#streamsName5,
#streamsName6,
#streamsName7,
#streamsName8,
#streamsName9,
#streamsName10 {
	display: none;
	background-color: rgba(17, 26, 26, 0.7);
	height: 1vw;
	width: 94%;
	color: #9d9063;
	font-family: Montserrat, sans-serif;
	text-align: center;
	overflow: visible;
	z-index: 2;
	position: relative;
	margin: -7.6% 0 0 3.5%;
	font-size: 0.75vw;
}


.Loading {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 3%;
	display: block;
}

.noStream {
	font-size: 0.9vw;
	text-align: center;
	font-family: MontserratSemiBold, sans-serif;
	display: none;
	line-height: 1.8;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
}

.noStream p {
	font-size: 0.9vw;
	text-align: center;
	font-family: MontserratSemiBold, sans-serif;
	line-height: 1.8;
}

.fa-face-grin-beam-sweat {
	font-size: 1.9vw;
	margin-top: 3.5%;
}


/* НАЧАЛО МЕЙН ФУТЕРА */

.chuvak {
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 100;
	height: 6vw;
	width: 4vw;
	margin: 1vw;
	/* filter: drop-shadow(0 0 10px rgb(143, 11, 11));
	filter: saturate(1.6); */
}

#footer {
	padding: 0;
	margin: 0;
}

.design {
	margin-bottom: 2vw;
	text-align: center;
}

.design p {
	font-weight: 400;
	font-size: 0.8vw;
}

.footer-copyr p {
	text-align: center;
	font-weight: 400;
	font-family: Montserrat, sans-serif;
	font-size: 0.8vw;
}

.footer-discname {
	text-align: center;
	margin: 1vw 0 1vw 0;
}

.footer-discname a {
	color: #9d9063;
}

#footer-mob {
	display: none;
}

.aboutProject {
	display: none;
}

/* КОНЕЦ МЕЙН ФУТЕРА */

/*
/////////
/////////
АДАПТАЦИЯ
/////////
/////////
*/

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {
	h1 {
		font-size: 3.3vw;
	}

	h2 {
		font-size: 2.2vw;
		margin-left: 1vw;
	}

	p {
		font-size: 1.1vw;
		line-height: 1.5vw;
	}

	li {
		font-size: 1.1vw;
		line-height: 1.5vw;
	}

	code {
		font-size: 1.1vw;
		line-height: 1.5vw;
	}

	.logo {
		/*логотип в хэдере*/
		margin-left: 5%;
	}

	.header-right {
		/*мейн меню хэдера*/
		margin-right: 5%;
	}

	/* #header-bg {
		width: 120%;
		right: 16.8vw;
		padding-bottom: 7.1vw;
		padding-top: 0.5vw;
	}

	#templefd {
		margin-left: 0%;
	}

	.header-right-bg {
		overflow: auto;
		align-content: center;
		margin-right: 41%;
		margin-left: 49%;
	} */
	.container {
		margin: 3vw 5% 3vw 5%;
	}

	.redContainerMenu {
		height: 2.7vw;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: -0.4%;
		z-index: 1;
		text-align: center;
		/* font-size: 0.6vw; */
		color: #9d9063;
		/* font-family: MontserratBold; */
		text-decoration: none;
	}

	.containerLinks a {
		font-size: 0.8vw;
	}

	.containerH h2 {
		font-size: 1.8vw;
		padding-left: 0.5vw;
		line-height: 3vw;
	}

	.containerHRed h2 {
		font-size: 1.8vw;
		padding-left: 0.5vw;
		line-height: 3vw;
	}

	.Supportbrush {
		position: absolute;
		z-index: 50;
		margin-top: 0.65%;
		margin-left: 26.3%;
		width: 8.5vw;
		display: none;
	}

	#twitchStream1,
	#twitchStream2,
	#twitchStream3,
	#twitchStream4,
	#twitchStream5,
	#twitchStream6,
	#twitchStream7,
	#twitchStream8,
	#twitchStream9,
	#twitchStream10 {
		height: 10vw;
	}

	#streamsName1,
	#streamsName2,
	#streamsName3,
	#streamsName4,
	#streamsName5,
	#streamsName6,
	#streamsName7,
	#streamsName8,
	#streamsName9,
	#streamsName10 {
		height: 1.5vw;
		margin: -9% 0 0 3.4%;
		font-size: 1.1vw;
	}

	.chuvak {
		height: 8vw;
		width: 5vw;
		margin: 0 0 0 1vw;
	}
}

@media only screen and (max-width: 480px) {
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: auto;
		background-color: #090e0e;
	}

	h1 {
		font-size: 12vw;
	}

	h2 {
		font-size: 5vw;
		margin-left: 2.4vw;
	}

	p {
		font-size: 4vw;
		line-height: 6vw;
	}

	li {
		font-size: 3.5vw;
		line-height: 6vw;
	}

	code {
		font-size: 3.5vw;
		line-height: 6vw;
	}

	/* настройки <code> */
	.format-code {
		padding: 2vw;
		color: #9d9063;
		font-weight: 500;
		font-size: 3vw;
		margin: 1vw 0 1vw 0;
	}

	/* настройки <code> */
	/* МОБИЛЬНЫЙ МЕЙН ХЭДЕР */
	#header {
		display: none;
	}

	/* ГОРЫ БЭКГРАУНД */
	#header-bg {
		background: url("../img/headermain480px.png") center no-repeat;
		background-size: 100%;
		right: 0;
		border: none;
		margin: 0;
		padding-bottom: 1.6vw;
	}

	#templefd {
		color: #9d9063;
		text-align: center;
		text-decoration: none;
		font-size: 1.7vw;
		margin: 4.7vw 0 0 0;
		/* letter-spacing: 30%; */
		line-height: 0.1;
		height: 10.4vw;
	}

	#templefd h1 {
		/* padding-top: 1vw; */
		font-size: 4.5vw;
	}

	.header-right-bg {
		overflow: auto;
		align-content: center;
		margin-right: 45%;
		margin-left: 45%;
	}

	/* ГОРЫ БЭКГРАУНД */
	#header-mob {
		display: none;
		/* background: url(../img/header480px2.png) fixed no-repeat;
		background-size: 100%;
		height: 13.5vw;
		padding: 0;
		margin: -4.5vw 0vw 0vw 0vw;
		width: auto;
		position: sticky;
		z-index: 100;
		top: 0; */
	}

	.header-mob-buttons-r {
		padding: 0;
		float: right;
		margin-right: 0;
	}

	.header-mob-item-l {
		float: left;
		/* width: 50%; */
		height: 15.5vw;
		/* margin: 0; */
		margin-left: 1%;
	}

	.header-mob-item-discord {
		float: right;
		/* width: 50%; */
		height: 8vw;
		width: 9vw;
		margin: 1.5vw 3vw 0 0;
		/* border-radius: 10%; */
	}

	.header-mob-item-boosty {
		float: right;
		/* width: 50%; */
		height: 8vw;
		width: 6vw;
		margin: 1.5vw 3vw 0 0;
	}

	.logo {
		/*логотип в хэдере*/
		margin-left: 1%;
	}

	.header-right {
		/*мейн меню хэдера*/
		margin-right: 3vw;
		margin-top: 0.2vw;
	}

	/* МОБИЛЬНЫЙ МЕЙН ХЭДЕР */
	/* НАЧАЛО ПОПАП-МЕНЮ */
	.popup {
		top: 11.1vw;
		display: block;
		position: absolute;
		padding: 0;
		width: 0;
		height: 100%;
		margin: 0;
		/* position: sticky; */
		/* background-color: rgba(9, 14, 14, 0.7); */
		z-index: 80;
	}


	.popup-menu {
		padding: 5vw 0 0 0;
		border-right: #9d9063 solid 0.1vw;
		background-color: #090e0e;
		width: 100%;
		height: 100%;
		margin: 0;
		display: none;
	}

	.popup-select-item-menu {
		/* background-color: rgba(9, 14, 14, 0.5); */
		/* border: 0.1vw solid transparent;
		border-image: linear-gradient(
			to left top,
			#9d9063 10%,
			transparent 30%,
			transparent 70%,
			#9d9063 90%
		);
		border-image-slice: 1; */
		/* border-style: solid;
    border-width: 0.1vw;
		border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgb(157, 144, 99) 50%, rgba(0, 0, 0, 0) 100%) 
              0 0 100% 0/0.5vw 0 0.5vw 0; */
		text-align: center;
		/* border-bottom: #9d9063 solid 0.1vw; */
		margin-left: 3%;
		/* border: #00ff98 solid 1px; */
		width: 35vw;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.raidMenu {
		width: 100%;
	}


	/* .Abilities {
		margin-top: 6.5%;
	} */
	.menuWrap {
		border-left: #9d9063 solid 0.1vw;
		padding-left: 4%;
		margin-left: 2%;
		/* border: #00ff98 solid 1px; */
	}


	.menuCard {
		/* background-color:#112626; */
		/* background-color: #071515; */
		background-color: #112626;
		margin-top: 2%;
		/* height: 30vw; */
		height: auto;
		display: flex;
		padding-top: 3%;
		padding-bottom: 3%;
		border: 0.1vw solid transparent;
		border-image: linear-gradient(
			to left top,
			#9d9063 10%,
			transparent 30%,
			transparent 70%,
			#9d9063 90%
		);
		border-image-slice: 1;

		/* background: rgb(7,21,21);
	background: linear-gradient(90deg, rgba(7,21,21,1) 20%, rgba(17,38,38,1) 100%); */

	}

	/* .Gradient2 {
		background: rgb(17,26,26);
	background: linear-gradient(270deg, rgba(17,26,26,1) 35%, rgba(17,38,38,1) 100%);

	background-color:#071515;
	margin-top: 1.5%;
	} */
	.popup-select-item-menu p {
		text-transform: uppercase;
		font-family: MontserratSemiBold, sans-serif;
		margin-left: 0;
		z-index: 100;
		line-height: 1.5;

	}

	.popup-select-item-menu p:hover {
		color: #00ff99;
	}

	.popup-select-item-submenu {
		/* text-align: center; */
		text-transform: capitalize;
		line-height: 2.5;
		display: block;
		margin-top: -4.5%;
		margin-bottom: 6%;
		font-size: 3.6vw;
	}


	.popup-select-item-submenu:hover {
		color: #00ff99;
	}


	/* КОНЕЦ ПОПАП-МЕНЮ */
	.container {
		/* background: rgb(17, 26, 26); */
		/* background: url(../img/raids/vault-of-the-incarnates/vault-bg.png) top left no-repeat; */
		background-color: #111a1a;
		/* background-size: 100%; */
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
		/*position: auto;*/
	}

	#containerMain {
		/* width: 95.5%; */
		overflow: visible;
		border: #9d9063 solid 0.1vw;
		padding: 0 2vw 0 2vw;
		box-sizing: border-box;
		width: 100%;
	}


	.frame-red-accord-mw,
	.frame-red-accord-ww,
	.frame-red-mob {
		display: block;
		background-size: 100%;
		background: url(../img/frame-mob1.png) no-repeat center;
		height: 8vw;
		width: 100.1%;
		text-align: center;
		margin: -0.6% 0 0 0;
		/* margin: 0; */
		padding-top: 1.5vw;

	}

	.frame-red-accord-bm {
		display: block;
		background-size: 100%;
		background: url(../img/frame-mob1.png) no-repeat center;
		height: 8vw;
		width: 100%;
		text-align: center;
		margin: -0.67% 0 0 0;
		/* margin: 0; */
		padding-top: 1.5vw;

	}

	.panelBMstream,
	.panelMWstream,
	.panelWWstream {
		text-align: center;
		display: none;
		overflow: auto;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 1.5%;
		/* ВАЖНО!!! */
		/* padding-bottom: 2%; */
		/* ВАЖНО!!! */
		text-decoration: none;
		height: auto;
		width: 100%;
	}


	#twitchStreamMob1,
	#twitchStreamMob2,
	#twitchStreamMob3,
	#twitchStreamMob4,
	#twitchStreamMob5,
	#twitchStreamMob6,
	#twitchStreamMob7,
	#twitchStreamMob8,
	#twitchStreamMob9,
	#twitchStreamMob10 {
		display: none;
		overflow: visible;
		position: relative;
		z-index: 1;
		width: 97.9%;
		height: 52.6vw;

		/* border: #9d9063 solid 1px; */
		margin: 0;
		/* margin-top: 1%; */
		/* padding: 0.1%; */
		/* box-shadow: 6px 0px 0px 2px rgba(0, 0, 0, 0.6); */
		border: 0.1vw solid transparent;
		border-image: linear-gradient(
			to left top,
			#9d9063 10%,
			transparent 30%,
			transparent 70%,
			#9d9063 90%
		);
		border-image-slice: 1;
	}

	#streamsNameMob1,
	#streamsNameMob2,
	#streamsNameMob3,
	#streamsNameMob4,
	#streamsNameMob5,
	#streamsNameMob6,
	#streamsNameMob7,
	#streamsNameMob8,
	#streamsNameMob9,
	#streamsNameMob10 {
		display: none;
		background-color: rgba(9, 14, 14, 0.7);
		height: 7vw;
		width: 97.9%;
		color: #9d9063;
		font-family: Montserrat, sans-serif;
		text-align: center;
		overflow: visible;
		z-index: 2;
		position: relative;
		margin: 0.2% 1% 5% 0.2%;
		font-size: 5vw;
		border: 0.1vw solid transparent;
		border-image: linear-gradient(
			to left top,
			#9d9063 10%,
			transparent 30%,
			transparent 70%,
			#9d9063 90%
		);
		border-image-slice: 1;
	}


	.LoadingMobBM, .LoadingMobMW, .LoadingMobWW {
		width: 20%;
		margin: 0.5% 40% 1.2%;
		display: block;
	}

	.noStreamMobBM, .noStreamMobMW, .noStreamMobWW {
		font-family: MontserratSemiBold, sans-serif;
		display: none;
		line-height: 1;
		margin: 1.5% 1% 0 -2.5%;
	}

	.noStreamMobBM p, .noStreamMobMW p, .noStreamMobWW p {
		font-size: 3.5vw;
		text-align: center;
		font-family: MontserratSemiBold, sans-serif;
		line-height: 1;
		padding-left: 0;
	}

	.fa-face-grin-beam-sweat {
		font-size: 5.9vw;
		margin-top: 2.5%;
		margin-bottom: 0.8%;
	}


	.fixed {
		position: fixed;
	}

	.containerH {
		display: none;
	}

	.Slide1 {
		display: none;
	}

	/* аккордеон начало */
	.SlideMobBM,
	.SlideMobMW,
	.SlideMobWW {
		display: block;
		background-color: rgba(17, 26, 26, 0);
		cursor: pointer;
		width: 100%;
		border: none;
		margin-top: 2vw;
		outline: none;
	}

	.SlideMobBM,
	.SlideMobMW,
	.SlideMobWW:hover {
		color: #00ff99;
	}

	.panelBM,
	.panelMW,
	.panelWW {
		display: none;
		overflow: hidden;
		margin: 0.5% 0 0 0;
		padding: 0;
		text-decoration: none;
		width: 100%;
		/* background: rgb(17,26,26);
	background: linear-gradient(90deg, rgba(17,26,26,1) 35%, rgba(17,38,38,1) 100%); */
		/* border:#9d9063 solid 0.1vw;
		box-sizing: border-box; */
	}


	/* аккордеон конец */
	.aboutProject {
		width: 40%;
		margin: 3% 30%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		border: 0.1vw solid transparent;
		border-image: linear-gradient(
			to left top,
			#9d9063 10%,
			transparent 30%,
			transparent 70%,
			#9d9063 90%
		);
		border-image-slice: 1;

		/* border-bottom: #9d9063 solid 0.1vw;
		padding-bottom: 2.5%;
		padding-right: 1%; */
		background-color: rgba(9, 14, 14, 0.5);
	}

	.aboutProject p {
		font-size: 4vw;
		font-family: MontserratSemiBold, sans-serif;;
	}

	.aboutPic {
		width: 40%;
	}

	.discord,
	.boosty,
	.redContainerMenu,
	.divider {
		display: none;
	}

	.dividerMob {
		width: 98%;
		margin: 3.5% 1% 0.5%;
		display: block;
	}

	.textBottom {
		font-size: 2vw;
		font-family: MontserratItalic, sans-serif;
		text-align: center;
		line-height: 0.5;
		overflow: auto;
		margin-bottom: 1.5%;
		margin-top: 1.1%;
	}

	#containerRed {
		display: none;
	}

	#twitchStream1,
	#twitchStream2,
	#streamsName2,
	#streamsName1 {
		display: none;
	}

	/* НАЧАЛО МОБИЛЬНОГО ФУТЕРА */
	#footer {
		display: none;
	}

	.chuvak {
		display: none;
	}

	#footer-mob {
		display: block;
		background-color: #111a1a;
		/* height: 7vw; */
		width: 100%;
		margin: 0;
		padding: 0;
		bottom: 0;
		box-sizing: border-box;
		border-left: #9d9063 solid 0.1vw;
		border-right: #9d9063 solid 0.1vw;
		border-bottom: #9d9063 solid 0.1vw;
	}

	.footer-mob-buttons {
		/* width: 100%; */
		padding: 0.5vw 0 0 0;
		margin: 0;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 600;
	}

	.footer-mob-buttons p {
		font-weight: 200;
		margin-bottom: 0.5%;
	}

	/* КОНЕЦ МОБИЛЬНОГО ФУТЕРА */
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: MontserratSemiBold;
	src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratMedium;
	src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: MontserratItalic;
	src: url(../fonts/Montserrat-Italic.ttf);
}

@font-face {
	font-family: MontserratBlack;
	src: url(../fonts/Montserrat-Black.ttf);
}
