@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: auto;
	background-color: #090e0e;
}

h1 {
	color: #9d9063;
	font-size: 2.1vw;
	font-family: MontserratBold;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
		/* padding-top: 0.5vw;
	padding-bottom: 0.5vw; */
	padding: 0;
	margin: 0;
}

h2 {
	color: #9d9063;
	font-size: 1.4vw;
	font-family: MontserratBold;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	/* padding-top: 0.2vw;
	padding-bottom: 0.2vw; */
	padding: 0vw 0vw 0vw 1vw;
	margin: 0;
}

h3 {
	color: #9d9063;
	font-size: 1vw;
	font-family: MontserratBold;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	/* padding-top: 0.1vw;
	padding-bottom: 0.1vw; */
	padding: 0;
	margin: 0;
}

p {
	color: #9d9063;
	font-family: Montserrat;
	font-size: 0.7vw;
	line-height: 1.2vw;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #00FF99;
}

/* НАСТРОЙКИ БАДИ НАЧАЛО */

#header {
	background:url("../img/headerempty.png") fixed no-repeat ;
	height: 4.5vw;
	width: auto;
	position: sticky;
	z-index: 100;
	top: 0;
	background-size: contain;
	/* РАЗОБРАТЬСЯ С МАКСИМАЛЬНОЙ ШИРИНОЙ ХЭДЕРА 1440PX */
}

.logo { /*логотип в хэдере*/
	float: left;
	margin-left: 14.8%;
	height: 4.5vw;
	width: 4.8vw;
}

.header-right { /*мейн меню хэдера*/
	float: right;
	margin-right: 15%;
}

.header-right a{ /*настройки ссылок в мейн меню хэдера*/
	float: left;
	font-family: MontserratBold;
	color: #9d9063;
	font-size: 0.8vw; 
	line-height: 55%;
	text-align: center;
	padding: 0.7vw 0vw 0.7vw 1vw;
	text-decoration: none;
	margin-top: 0.6vw;
}

.header-right a:hover {
	color: #00FF99; /*цвет мейн меню хэдера при наведении*/
}

/* ХЭДЕР ЗАКОНЧИЛСЯ */

#container {
	margin: 2vw 15% 2vw 15%;
	max-width: 1440px;
	background-color: #111a1a;
	border: solid 1px #9d9063;
	display: flex;
}

#containerMain {
	width: 79.9%;
	padding: 1.5vw;
	margin: 0;
	float:left;
	align-content: center;
	overflow: auto;
	box-shadow: 6px 0px 15px 2px rgba(0,0,0,0.6);
	border-right: solid 1px #9d9063 ;
	position: relative;
	z-index: 1;
	height: auto;
}

.collum-l {
	float: left;
	width: 45%;
	margin-right: 5%;
	align-content: left;
}

.collum-r {
	float: right;
	width: 45%;
	margin-left: 5%;
	text-align: right;
}

.divider1 {
	width: 100%;
	margin: 0.2vw 0vw 0.2vw 0vw;
}

.frame-red {
	background:url(../img/frame.png) no-repeat;
	background-size: 100%;
  height: 2.03vw;
	width: 100%;
	text-align: left;
	margin: 0.2vw 0vw 0.2vw 0vw;
	padding-top: 0.1vw;
}

.frame-red-button {
	background:url(../img/frame.png) no-repeat;
	background-size: 100%;
  height: 2.03vw;
	width: 100%;
	text-align: center;
	margin: 0.2vw 0vw 0.2vw 0vw;
	padding-top: 0.1vw;
}

.frame-red-button a {
	color: #9d9063;
}

.frame-red-button a:hover {
	color: #00FF99;
}

/* аккордеон начало */
.accordion {
	background-color: #111a1a;
	font-family: MontserratBold;
	font-size: 1vw;
	text-decoration: none;
	margin: 0.4vw 0vw 0vw 0vw;
	color: #9d9063;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
}

.accordion:hover {
	color: #00FF99;
}

.panel {
	display: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/* аккордеон конец */

#containerRed {
	background:url(../img/backgroundred.png) 100% 0 repeat;
	background-size: 300%;
	align-content: center;
	height: auto;
	float:right;
	width: 20%;
}

.nav-bar {
	background: #111a1a;
	position: sticky;
	top: 3.1vw;
	border-bottom: #9d9063 solid 1px;
}

.menu {
	margin: 0;
	padding: 0.3vw 0vw 0.3vw 1vw;
	list-style: none;
}

.menu li {
	position: relative;
}

.menu>li {
	flex: 1;
}

.menu a {
	text-decoration: none;
	color: #9d9063;
}

.menu a:hover {
	color: #00FF99;
}

.select-item-menu {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.select-item-submenu {
	margin: 0;
	padding: 0;
	padding-left: 0.4vw;
}

.select-item-submenu:hover {
	color: #00FF99;
}

.select-item-menu:hover {
	color: #00FF99;
}

/* .menu li a div {
	display: inline-block;
	vertical-align: middle;
} */

/* .menu .sub-menu {
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #D2908B;
	z-index: 1;
} */

/* .menu .sub-menu a {
	margin-bottom: -1px;
	color: white;
	text-decoration: none;
	padding:3px 5px;
} */

/* .menu>li:hover .sub-menu {
	display: block;
} */

/* .search-form {
	display: inline-block;
	margin-right: 17px;
	width: 300px;
}

.search-form .search-text {
	background-image: url(images/glass.png);
	background-repeat: no-repeat;
	background-position: 13px 5px;
	text-indent: 56px;
	width: 100%;
	height: 35px;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	display: inline-block;
	border-radius: 5px;
	box-shadow: none;
	border: none;
} */

/* начало футера */
#footer {
	padding: 0;
	margin: 0;
}

.footer-copyr {
	text-align: center;
}

.footer-discname {
	text-align: center;
	margin: 2vw 0vw 2vw 0vw;
}

.footer-discname a {
	color: #9d9063;
}

#footer-mob {
	display: none;
}
/* конец футера */

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {

	p {
		font-size: 1vw;
	}

	#container {
		margin: 2vw 3vw 2vw 3vw;
	}

	.logo { /*логотип в хэдере*/
		margin-left: 3vw;
	}

	.header-right { /*мейн меню хэдера*/
		margin-right: 3vw;
	}

	.frame-red {
		height: 2.6vw;
		width: 100%;
		text-align: left;
		margin: 0.2vw 0vw 0.2vw 0vw;
		padding-top: 0.5vw;
	}
}

/* 480PX И МЕНЬШЕ */
@media only screen and (max-width: 480px) {

	h1 {
		font-size: 12vw;
	}

	h2 {
		font-size: 5vw;
		margin-left: 1vw;
	}

	p {
		font-size: 4vw;
		line-height: 6vw;
	}

	#header {
		display: none;
	}

	.logo { /*логотип в хэдере*/
		margin-left: 3vw;
	}

	.header-right { /*мейн меню хэдера*/
		margin-right: 3vw;
		margin-top: 0.2vw;
	}

	#container {
		margin: 0vw;
		border: none;
	}

	#containerMain{
		width: 100%;
		border: none;
		padding: 4vw;
	}

	.accordion {
		font-size: 4vw;
	}

	.frame-red {
		/* background:url(../img/frame.png) no-repeat center; */
		background-size: 200%;
		background-position: center;
		height: 6.8vw;
		/* width: 150%; */
		text-align: left;
		margin: 1vw 0vw 1vw 0vw;
		/* padding-top: 0.1vw; */
	}

	.collum-l, .collum-r {
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	#containerRed{
		display: none;
	}

	#footer {
		display: none;
	}

	#footer-mob {
		display: block;
		background-color: #111a1a;
		box-shadow: 0vw 0vw 4vw 2vw rgba(0,0,0,0.6);
		height: 12vw;
		margin: 0;
		padding: 0;
		width: auto;
		position: sticky;
		z-index: 100;
		bottom: 0;
		/* РАЗОБРАТЬСЯ С МАКСИМАЛЬНОЙ ШИРИНОЙ ХЭДЕРА 1440PX */
	}

	#footer-mob-buttons {
		/* padding: 0.7vw 0vw 0.7vw 1vw;
		margin-top: 0.6vw; */
		margin: 0;
		padding: 0;
	}

	.footer-item {
		height: 7vw;
		width: 7vw;
		padding: 2vw 20px 2vw 24px;
		margin: 0;
		border-radius: 8%;
	}
}

/* @media only screen and (max-width: 2000px){

#header {
	background:url("../img/headerempty.png") fixed no-repeat ;
	height: 6.5vw;
	width: auto;
	position: sticky;
	top: 0;
	background-size: contain;
	z-index: 10;
	}

	.header-right a{
	margin-top: 2%;
	font-size: 0.9vw;
	}

	.logo {
	float: left;
	margin-left: 14.7%;
	height: 4.5vw;
	width: 4.8vw;
	}
} */

@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Light.otf)
}
@font-face {
	font-family: MontserratSemiBold;
	src:url(../fonts/Montserrat-SemiBold.ttf)
}
@font-face {
	font-family: MontserratBold;
	src:url(../fonts/Montserrat-Bold.ttf)
}
@font-face {
	font-family: MontserratMedium;
	src:url(../fonts/Montserrat-Medium.ttf)
}
@font-face {
	font-family: MontserratItalic;
	src:url(../fonts/Montserrat-Italic.ttf)
}