@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: auto;
	background-color: #090e0e;
}

h1 {
	color: #9d9063;
	font-size: 2.5vw;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: MontserratBold;
	text-decoration: none;
	font-weight: inherit;
	margin-block-start: 0;
	margin-block-end: 0;
	text-transform: uppercase;
}

h2 {
	color: #9d9063;
	font-size: 1.2vw;
	font-family: MontserratBold;
	text-decoration: none;
	font-weight: inherit;
	margin-block-start: 0;
	margin-block-end: 0;
	text-transform: uppercase;
	/* text-align: left; */
	padding-top: 0.3vw;
	padding-left: 1vw;
}

p {
	color: #9d9063;
}

a {
	text-decoration: none;
}

#headerContainer {
	width: 100%;
	overflow: hidden;
}

#header {
	background:url("../img/headerempty.png") fixed no-repeat ;
	height: 115px;
	width: auto;
	position: sticky;
	top: 0;
	background-size: contain;
	
}

.header-right a{
  float: left;
  color: #9d9063;
  text-align: center;
  padding: 0.7vw 0vw 0.7vw 1vw;
  text-decoration: none;
  font-size: 0.8vw; 
  line-height: 55%;
  font-family: MontserratBold;
	margin-top: 2%;
}

.header-right {
  float: right;
  margin-right: 15%;
}

.header-right a:hover {
	color: #00FF99;
}

.logo {
	float: left;
  margin-left: 14.7%;
	height: 4.5vw;
	width: 4.8vw;
}

#container {
	margin-left: 15%;
	margin-right: 15%;
	background-color: #111a1a;
	border: solid 1px #9d9063;
	/* margin-bottom: 10%; */
	display: flex;
}

#containerMain {
	width: 79.9%;
	background-color: #111a1a;
	padding: 20px;
	color: #9d9063;
	font-family: Montserrat;
	float:left;
	align-content: center;
	overflow: auto;
	box-shadow: 6px 0px 15px 2px rgba(0,0,0,0.6);
	border-right: solid 1px #9d9063 ;
	position: relative;
	z-index: 1;
	height: auto;
}

.addon {
	float: left;
	width: 50%;
	align-content: left;
	/* position: relative;
	overflow: auto; */
}

.guide-date {
	float: right;
	width: 50%;
	text-align: right;
	/* position: relative;
	overflow: auto; */
}

.divider1 {
	width: 100%;
	padding-bottom: 10px;
}

.frame-red {
	background:url(../img/frame.png) no-repeat;
	background-size: 100%;
  height: 2.03vw;
	width: 100%;
	text-align: left;
	/* overflow: auto;
	position: relative; */

}

/* .containerH{
	font-family: MontserratBold;
	background-color: #112626;
	overflow: auto;
	padding-left: 1.2%;
	line-height: 0.4;
	border-bottom: solid 1px #9d9063;
	font-size: 0.9vw;
} */

#containerRed {
	background:url(../img/backgroundred.png) 100% 0 repeat;
	background-size: 300%;
	align-content: center;
	font-size: 0.7vw;
	color: #9d9063;
	font-family: Montserrat;
	height: auto;
	float:right;
	width: 20%;
}

.nav-bar {
  background: #111a1a;
	position: sticky;
	top: 6.7%;
	border-bottom: #9d9063 solid 1px;
	
}

.menu {
  margin: 0;
  padding-left: 1vw;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
  list-style: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: stretch;
}

.menu li {
  /* border: 1px solid #000; */
  position: relative;
}

.menu>li {
  flex: 1;
}

.menu a {
	text-align: left;
	/* display: flex; */
	font-weight: 600;
	text-decoration: none;
	font-size: 0.7vw;
	line-height: 1.5vw;
	color: #9d9063;
	height: 100%;
	justify-content: center;
	align-items: center
}

.menu a:hover {
	color: #00FF99;
}

.select-item-menu {
	margin: 0;
}

.select-item-submenu {
	margin: 0;
	padding-left: 4%;
}

.select-item-submenu:hover {
	color: #00FF99;
}

.select-item-menu:hover {
	color: #00FF99;
}

/* .menu li a div {
  display: inline-block;
  vertical-align: middle;
} */

/* .menu .sub-menu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #D2908B;
  z-index: 1;
} */

/* .menu .sub-menu a {
  margin-bottom: -1px;
  color: white;
  text-decoration: none;
  padding:3px 5px;
} */

/* .menu>li:hover .sub-menu {
  display: block;
} */

/* .search-form {
  display: inline-block;
  margin-right: 17px;
  width: 300px;
}

.search-form .search-text {
  background-image: url(images/glass.png);
  background-repeat: no-repeat;
  background-position: 13px 5px;
  text-indent: 56px;
  width: 100%;
  height: 35px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  display: inline-block;
  border-radius: 5px;
  box-shadow: none;
  border: none;
} */

/* .containerRedLinks{
	margin-top: 1.3%;
	position: relative;
	z-index: 1;
	overflow: auto;
}

.containerRedLinks a {
	color: #9d9063;
	font-family: MontserratBold;
	text-decoration: none;
	margin-right: 0.4%;
	margin-left: 0.2%;
}

.containerHRed{
	font-family: MontserratBold;
	background-color: #112626;
	overflow: auto;
	padding-left: 5%;
	line-height: 0.4;
	border-bottom: solid 1px #9d9063 ;
	font-size: 0.9vw;
} */

#footer {
	height: 10vw;
	padding-top: 5vw;
}

.footer-copyr {
	text-align: center;
	padding-top: 0;
	padding-left: 0;
}

.footer-discname {
	text-align: center;
	padding-top: 0;
	padding-left: 0;
}

.footer-discname a {
	color: #9d9063;
}

@media only screen and (max-width: 2000px){
	
	#header {
	background:url("../img/headerempty.png") fixed no-repeat ;
	height: 6.5vw;
	width: auto;
	position: sticky;
	top: 0;
	background-size: contain;
	z-index: 10;
}
	
	.header-right a{
	margin-top: 2%;
	font-size: 0.9vw;
}
	
	.logo {
	float: left;
  margin-left: 14.7%;
	height: 4.5vw;
	width: 4.8vw;
}
	
}

@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Light.otf)
}
@font-face {
font-family: MontserratSemiBold;
src:url(../fonts/Montserrat-SemiBold.ttf)
}
@font-face {
font-family: MontserratBold;
src:url(../fonts/Montserrat-Bold.ttf)
}
@font-face {
font-family: MontserratMedium;
src:url(../fonts/Montserrat-Medium.ttf)
}
@font-face {
font-family: MontserratItalic;
src:url(../fonts/Montserrat-Italic.ttf)
}