@charset "utf-8";
/* CSS Document */

.select {
	color: #00ff99;
}

.tabs {
}

.btn-conten {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.btn-l,
.btn-r {
	background-color: transparent;
	font-family: MontserratBold, sans-serif;
	color: #9d9063;
	border: none;
	margin-bottom: 1vw;
}

.btn-l {
	color: #00ff99;
}

.btn-r {
	color: #9d9063;
}

.btn-l:hover,
.btn-r:hover {
	color: #00ff99;
}

.tabs-content {
	width: 100%;
}

.tab-l,
.tab-r {
	margin-bottom: 1vw;
}

.tab-l {
	display: block;
}

.tab-r {
	display: none;
}

/*maincontainer*/

.sticky-nav-bar {
	background-color: #111a1a;
	top: 3.1vw;
	position: sticky;
	width: 103%;
	z-index: 90;
	padding: 0.5vw;
	margin-left: -1.5vw;
	margin-right: -1.5vw;
	border-bottom: #9d9063 solid 0.1vw;
}

.sticky-menu {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.1vw;
	text-transform: uppercase;
	font-family: MontserratBlack, sans-serif;
}

.sticky-menu a {
	color: #9d9063;
}

.sticky-menu a:hover {
	color: #00ff98;
}

/*maincontainer*/

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {

}

/* 480PX И МЕНЬШЕ */
@media only screen and (max-width: 480px) {
}

@font-face {
	font-family: Montserrat;
	src: url(../../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: MontserratSemiBold;
	src: url(../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(../../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratMedium;
	src: url(../../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: MontserratItalic;
	src: url(../../fonts/Montserrat-Italic.ttf);
}

@font-face {
	font-family: MontserratBlack;
	src: url(../../fonts/Montserrat-Black.ttf);
}
