@charset "utf-8";
/* CSS Document */

.select {
	color: #00ff99;
}

/*ТАБЫ*/
.btn-rotation-content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	/*padding-top: 0vw;*/
	/*margin-top: 1vw;*/
	margin-bottom: 1vw;
	/*background-color: rgba(17, 38, 38, 0.7);*/
}

.btn-rotation-1,
.btn-rotation-2 {
	font-family: MontserratBold, sans-serif;
	color: #9d9063;
	text-transform: uppercase;
	height: auto;
	padding: 0.35vw 22.7% 0.2vw 22.7%;
	background-color: transparent;
	/*box-shadow: 0 0 0.78vw 0.4vw rgba(0, 0, 0, 0.4);*/
	border: transparent solid 0.1vw;
}

.btn-rotation-1:hover,
.btn-rotation-2:hover {
	border-bottom: #9d9063 solid 0.1vw;
}

.tabs-rotation-content {
	width: 100%;
}

.tab-rotation-1,
.tab-rotation-2 {
	margin-bottom: 1vw;
	text-align: left;
}

.tab-rotation-1 {
	display: block;
}

.tab-rotation-2 {
	display: none;
}

.select-bg-leg {
	background-color: #032121;
	box-shadow: 0 0 0.4vw 0.1vw rgba(0, 0, 0, 0.4);
	border: #9d9063 solid 0.1vw;
}
/*ТАБЫ*/

/* 1920PX И МЕНЬШЕ */
@media only screen and (max-width: 1920px) {
	.btn-rotation-1,
	.btn-rotation-2 {
		padding: 0.6vw 22% 0.35vw 22%;
	}

}

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {
	.btn-rotation-1,
	.btn-rotation-2 {
		padding: 0.6vw 21.8% 0.35vw 21.8%;
	}

}

/* 480PX И МЕНЬШЕ */
@media only screen and (max-width: 480px) {

	.btn-rotation-content {
		margin-bottom: 5vw;
	}

	.btn-rotation-1,
	.btn-rotation-2 {
		padding: 1.4vw 17.3% 1vw 17.3%;
	}

}

@font-face {
	font-family: Montserrat;
	src: url(../../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: MontserratSemiBold;
	src: url(../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(../../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratMedium;
	src: url(../../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: MontserratItalic;
	src: url(../../fonts/Montserrat-Italic.ttf);
}

@font-face {
	font-family: MontserratBlack;
	src: url(../../fonts/Montserrat-Black.ttf);
}
