@charset "utf-8";
/* CSS Document */

.select {
	color: #00ff99;
}

/*ИНТЕРАКТИВНЫЕ ПРИОРИТЕТЫ ОПЕНЕР*/
.fa-xmark {
	color: #9d9063;
	font-size: 1vw;
	margin: 0;
	padding: 0;
}

.fa-check {
	color: #9d9063;
	font-size: 0.7vw;
	margin: 0;
	padding: 0;
}

.rotation-tabs {
	background: url("../../img/monk_brewmaster-bg.jpg") no-repeat right top;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 0 0 0.78vw 0.4vw rgba(0, 0, 0, 0.6);
	border: #9d9063 solid 0.1vw;
}

.rotation-tabs-in {
	/*background-color: rgba(17, 26, 26, 0.2);*/
	display: flex;
	flex-flow: row nowrap;
	padding: 1.5vw;
	gap: 10vw;
	justify-content: center;
}

.rotation-header p {
	font-family: MontserratBlack, sans-serif;
	padding: 0;
	margin: -0.6vw 0 1vw 0;
	background-color: rgba(3, 19, 19, 0.6);
	border-radius: 4px 16px 4px 16px;
}

.rotation-monk,
.rotation-spec {
	flex: 1;
	position: relative;
	max-width: 40%;
	width: 100%;
}

.rotation-monk-in,
.rotation-spec-in {
	position: relative;
	user-select: none;
}

.rotation-monk-in a,
.rotation-spec-in a {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
}

.rotation-monk-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 1fr);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rotation-spec-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rp-hide {
	display: none;
}
/*ИНТЕРАКТИВНЫЕ ПРИОРИТЕТЫ ОПЕНЕР*/


/*ТАБЫ*/
.btn-rotation-content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	/*padding-top: 0vw;*/
	/*margin-top: 1vw;*/
	margin-bottom: 1vw;
	/*background-color: rgba(17, 38, 38, 0.7);*/
}

.btn-rotation-1,
.btn-rotation-2,
.btn-rotation-3,
.btn-rotation-4 {
	font-family: MontserratBold, sans-serif;
	color: #9d9063;
	text-transform: uppercase;
	height: auto;
	padding: 0.35vw 22.7% 0.2vw 22.7%;
	background-color: transparent;
	/*box-shadow: 0 0 0.78vw 0.4vw rgba(0, 0, 0, 0.4);*/
	border: transparent solid 0.1vw;
}

.btn-rotation-1:hover,
.btn-rotation-2:hover,
.btn-rotation-3:hover,
.btn-rotation-4:hover {
	border-bottom: #9d9063 solid 0.1vw;
}

.tabs-rotation-content {
	width: 100%;
}

.tab-rotation-1,
.tab-rotation-2,
.tab-rotation-3,
.tab-rotation-4 {
	margin-bottom: 1vw;
	text-align: left;
}

.tab-rotation-1,
.tab-rotation-3 {
	display: block;
}

.tab-rotation-2,
.tab-rotation-4 {
	display: none;
}

.select-bg-leg {
	background-color: #032121;
	box-shadow: 0 0 0.4vw 0.1vw rgba(0, 0, 0, 0.4);
	border: #9d9063 solid 0.1vw;
}
/*ТАБЫ*/

/* 1920PX И МЕНЬШЕ */
@media only screen and (max-width: 1920px) {
	.btn-rotation-1,
	.btn-rotation-2,
	.btn-rotation-3,
	.btn-rotation-4 {
		padding: 0.6vw 22% 0.35vw 22%;
	}

}

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {
	.fa-xmark {
		color: #9d9063;
		font-size: 1.3vw;
		margin: 0;
		padding: 0;
	}

	.fa-check {
		color: #9d9063;
		font-size: 0.9vw;
		margin: 0;
		padding: 0;
	}


	.btn-rotation-1,
	.btn-rotation-2,
	.btn-rotation-3,
	.btn-rotation-4 {
		padding: 0.6vw 21.8% 0.35vw 21.8%;
	}

}

/* 480PX И МЕНЬШЕ */
@media only screen and (max-width: 480px) {

	.fa-xmark {
		color: #9d9063;
		font-size: 5vw;
		margin: 0;
		padding: 0;
	}

	.fa-check {
		color: #9d9063;
		font-size: 4vw;
		margin: 0;
		padding: 0;
	}

	.rotation-tabs {
		background: none;
		border: none;
		box-shadow: none;
	}

	.rotation-tabs-in {
		background: url("../../img/monk_brewmaster-bg.jpg") no-repeat right top;
		border: #9d9063 solid 0.1vw;
		box-shadow: 0 0 0.6vw 0.6vw rgba(0, 0, 0, 0.6);
		flex-flow: row wrap;
		gap: 100%;
	}

	.rotation-header p {
		background-color: rgba(3, 19, 19, 0.9);
		margin: 0.4vw 3% 1vw 3%;
		border-radius: 2px 10px 2px 10px;
	}

	.rotation-monk {
		/*background: url("../../img/monk_brewmaster-bg.jpg") no-repeat center top;*/
		background-size: cover;
		/*border: #9d9063 solid 0.1vw;*/
		padding-top: 2vw;
		padding-bottom: 2vw;
		/*box-shadow: 0 0 0.6vw 0.6vw rgba(0, 0, 0, 0.6);*/
		max-width: 100%;
		width: 100%;
	}

	.rotation-spec {
		/*background: url("../../img/monk_brewmaster-bg.jpg") no-repeat right top;*/
		background-size: cover;
		padding-top: 2vw;
		padding-bottom: 2vw;
		/*border: #9d9063 solid 0.1vw;*/
		/*box-shadow: 0 0 0.6vw 0.6vw rgba(0, 0, 0, 0.6);*/
		max-width: 100%;
		width: 100%;
	}

	.btn-rotation-content {
		margin-bottom: 5vw;
	}

	.btn-rotation-1,
	.btn-rotation-2,
	.btn-rotation-3,
	.btn-rotation-4 {
		padding: 1.4vw 17.3% 1vw 17.3%;
	}

}

@font-face {
	font-family: Montserrat;
	src: url(../../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: MontserratSemiBold;
	src: url(../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(../../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratMedium;
	src: url(../../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: MontserratItalic;
	src: url(../../fonts/Montserrat-Italic.ttf);
}

@font-face {
	font-family: MontserratBlack;
	src: url(../../fonts/Montserrat-Black.ttf);
}
