@charset "utf-8";
/* CSS Document */

.select {
  color: #00ff99;
}

.tabs {
}

.btn-conten {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn-l,
.btn-r {
  background-color: transparent;
  font-family: MontserratBold;
  color: #9d9063;
  border: none;
  margin-bottom: 1vw;
}

.btn-l {
  color: #00ff99;
}

.btn-r {
  color: #9d9063;
}

.btn-l:hover,
.btn-r:hover {
  color: #00ff99;
}

.tabs-content {
  width: 100%;
}

.tab-l,
.tab-r {
  margin-bottom: 1vw;
  display: flex;
  text-align: center;
  /* justify-content: space-evenly; */
}

.tab-l {
  display: block;
}

.tab-r {
  display: none;
}

/* ТЛАНТЫ */

.talents-tree {
  /* border: #9d9063 solid 1px; */
}

/* ТИР 1-4 */

.talentsIcon1-4 {
  float: left;
  width: 45%;
}

.talents-container1-4 {
  float: right;
  width: 45%;
}

.tc1 {
  display: block;
}

.tc2,
.tc3,
.tc4,
.tc5,
.tc6,
.tc7,
.tc8,
.tc9 {
  display: none;
}

/* .row1,
.row2,
.row3 {
  display: flex;
  justify-content: space-evenly;
} */

.t1,
.t2,
.t3,
.t4,
.t5,
.t6,
.t7,
.t8,
.t9 {
  margin: 0.5vw;
}

/* ТИР 1-4 */
/* ТЛАНТЫ */

/* 1440PX И МЕНЬШЕ */
@media only screen and (max-width: 1440px) {
}

/* 480PX И МЕНЬШЕ */
@media only screen and (max-width: 480px) {
  .talentsIcon1-4 {
    width: 100%;
    margin: 1vw 0vw 1vw 0vw;
  }

  .talents-container1-4 {
    width: 100%;
    margin: 1vw 0vw 1vw 0vw;
    text-align: center;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratItalic;
  src: url(../fonts/Montserrat-Italic.ttf);
}

@font-face {
  font-family: MontserratBlack;
  src: url(../fonts/Montserrat-Black.ttf);
}
